/*@font-face {
    font-family: 'RobotoLight';
    src: local('Roboto Thin'), local('Roboto-Thin'), asset-url('roboto/robotothin.woff2') format('woff2'), asset-url('roboto/robotothin.woff') format('woff'), asset-url('roboto/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), asset-url('roboto/robotothinitalic.woff2') format('woff2'), asset-url('roboto/robotothinitalic.woff') format('woff'), asset-url('roboto/robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}*/
@font-face {
    font-family: 'RobotoLight';
    src: local('Roboto Light'), local('Roboto-Light'), asset-url('roboto/robotolight.woff2') format('woff2'), asset-url('roboto/robotolight.woff') format('woff'), asset-url('roboto/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), asset-url('roboto/robotolightitalic.woff2') format('woff2'), asset-url('roboto/robotolightitalic.woff') format('woff'), asset-url('roboto/robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoRegular';
    src: local('Roboto'), local('Roboto-Regular'), asset-url('roboto/roboto.woff2') format('woff2'), asset-url('roboto/roboto.woff') format('woff'), asset-url('roboto/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: local('Roboto Italic'), local('Roboto-Italic'), asset-url('roboto/robotoitalic.woff2') format('woff2'), asset-url('roboto/robotoitalic.woff') format('woff'), asset-url('roboto/robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto Medium'), local('Roboto-Medium'), asset-url('roboto/robotomedium.woff2') format('woff2'), asset-url('roboto/robotomedium.woff') format('woff'), asset-url('roboto/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), asset-url('roboto/robotomediumitalic.woff2') format('woff2'), asset-url('roboto/robotomediumitalic.woff') format('woff'), asset-url('roboto/robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoBold';
    src: local('Roboto Bold'), local('Roboto-Bold'), asset-url('roboto/robotobold.woff2') format('woff2'), asset-url('roboto/robotobold.woff') format('woff'), asset-url('roboto/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), asset-url('roboto/robotobolditalic.woff2') format('woff2'), asset-url('roboto/robotobolditalic.woff') format('woff'), asset-url('roboto/robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
/*@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), asset-url('roboto/robotoblack.woff2') format('woff2'), asset-url('roboto/robotoblack.woff') format('woff'), asset-url('roboto/robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), asset-url('roboto/robotoblackitalic.woff2') format('woff2'), asset-url('roboto/robotoblackitalic.woff') format('woff'), asset-url('roboto/robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
*/