.code {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;  
  z-index: 1000;
  background: white;
}

.code__text {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  padding-top: 200px;
}