.procedure--slim {
	display: flex;
	flex-direction: column;	

	.procedure__companyInfo {
	    display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	align-items: flex-start;
    	width: initial;
    	margin-bottom: 20px;
    	text-decoration: none;
	}

	.procedure__lotInfo {
		margin: 0;
		padding-bottom: 10px;
	}

	//.procedure__priceInfo {
	//	display: flex;
 	//    justify-content: space-between;
	//	max-width: initial;
	//	margin: 0px;
	//	padding-bottom: 10px;
	//}

	.procedure__links {
		display: flex;
		position: relative;
		width: auto;
		margin-top: 10px;
		justify-content: space-evenly;
	}
}