@import "fonts/roboto/roboto";
@import "variables";
//@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

#procedures {
  background-color: $mainBg;
  padding: 20px;
}

.procedures {
  max-width: 1000px;
  margin: 0 auto;
  font-family: $robotoRegular;
  background-color: $mainBg;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.procedure {
  display: flex;
  box-shadow: 0 2px 6px 0 rgba(1, 1, 1, 0.08);
  font-family: $robotoRegular;
  margin-bottom: 20px;
  padding: 20px 30px;
  background-color: $wbg;
  text-decoration: none;
  position: relative;
  min-height: 190px;

  &__logo {
    max-width: 100%;
    max-height: 110px;
  }

  &__companyInfo {
    width: 180px;
    color: $grayText;
    text-decoration: none;
    font: 14px/1.25 $robotoRegular;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .block__related_about_number {
      margin-bottom: 13px;
    }
    .block__related_about_company {
      img {
        max-width: 100%;
        max-height: 110px;
      }
    }
  }

  &__priceInfo {
    min-width: 210px;
    max-width: 313px;
    width: initial;
    flex-shrink: 0;
    flex-basis: auto;
    color: $black;
  }

  &__lotInfo {
    color: $black;
    position: relative;
    padding-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    flex: 1;
    font-size: 14px;
  }

  &__title {
    font-family: $robotoBold;
    font-size: 18px;
    letter-spacing: 0.025em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__links {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    display: flex;
    width: 180px;
    justify-content: space-between;
    span {
      font-size: 13px;
      color: $blue;
      white-space: nowrap;
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__lotsCount {
    margin-bottom: 20px;
    font-size: 14px;
    color: $grayText;

    span {
      color: $black;
    }
  }

  .procedure__acceptingDate {
    color: $grayText;
    font-size: 14px;
    span {
      color: $black;
      display: block;
      margin-top: 0.1em;
    }
  }
}

.procedurePrice {
  margin-bottom: 24px;
  white-space: nowrap;
  &__num {

    color: $orange;
    font-family: $robotoBold;
    font-size: 25px;
  }
  .block__related_details_currency {
    display: inline-block;
    margin-left: 2px;
    color: $orange;
    vertical-align: middle;
    width: 14px;
    height: auto;
  }
}