
$white: #fff;
$orange: #f16226;
$orangeLight: #f39e24;
$blue: #316da4;
$gray: #868e98;
$black: #000;
$errorColor: #D83526;

$robotoLight: "RobotoLight", Arial, Tahoma, sans-serif;
$robotoRegular: "RobotoRegular", Arial, Tahoma, sans-serif;
$robotoMedium: "RobotoMedium", Arial, Tahoma, sans-serif;
$robotoBold: "RobotoBold", Arial, Tahoma, sans-serif;

$transitionNormal: .3s linear;
$transitionFast: .1s linear;

//цвета
//--текста
$grayText: #868e98;

//--границ
$borderDarkColor: #868e98;
$borderColor: #eef2f5;
$formBorderColor: #dae4ec;

//--ссылок
$linkColor: #286297;

//--бекграунд
$mainBg: #eef2f5;
$wbg: #fff;
$greyBg: #7b7b7b;

//kim посадочная
$stepsBlue: #316da4; //синий
$stepsBrown: #926764; //коричневый
$stepsOrange: #f06226; //оранжевый
$stepsNumberWidth: 50px;

$tariffBackgroundColor: #286297;


//сбрасывание флоатов
@mixin clearAfter() {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin absCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertCenter() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hCenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//линейный градиент
@mixin background-image-linear-gradient($angle, $color1_percent1, $color2_percent2) {
  background-image: -webkit-linear-gradient($angle, $color1_percent1, $color2_percent2);
  background-image: linear-gradient($angle, $color1_percent1, $color2_percent2);
}

@mixin single-line() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mark() {
  @include single-line();
  background-color: $orange;
  background-repeat: no-repeat;
  color: $white;
  font-size: 13px;
  line-height: 2;
  padding: 0 10px;
  position: absolute;
  text-transform: lowercase;
  top: 0;
}


// mixin for multiline
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: $mainBg){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 2em;
  &:before {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 1em;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

// Fluid Type Sass Mixin https://codepen.io/MadeByMike/pen/vNrvdZ
// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a*100}vw #{$sign} #{$b});
}

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}